/* СТИЛИ ДЛЯ index.html */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* Site-nav */

.main-nav {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

/* .site-nav-item {
  margin-right: 50px;
}
.site-nav-item:last-child {
  margin-right: 0;
} */
/* .site-nav-item:not(:last-child){
  margin-right: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  text-decoration: none;
}

.contact-nav {
  display: flex;
}
.contact-nav-item + .contact-nav-item {
  margin-left: 50px;
}

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  outline: solid tomato;
  color: var(--background-color);
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
}
.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}
/* Section */

.section {
  outline: solid tomato;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title,
.work-title,
.team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Особенности*/
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  margin-right: 30px;
  width: 270px;
  /* height: 101px; */
}
.features-item:last-child {
  margin-right: 0;
}
.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list .text {
  margin-top: 0;
  margin-bottom: 94px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */

.work-list {
  display: flex;
  justify-content: space-between;
}
.work-item {
  margin-right: 30px;
  flex-basis: calc(100% / 3- 30px);
}

.work-item:last-child {
  margin-right: 0;
}
/* Команда */

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  margin-right: 30px;
  width: 270px;
  height: 368px;
  background-color: var(--background-color);
}
.team-item:last-child {
  margin-right: 0;
}
.team-list .title {
  margin-top: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */

.footer {
  background-color: #2f303a;
  color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  color: var(--background-color);
  font-weight: 700;
}
.footer .logo > span {
  color: var(--accent-color);
}
.footer .text {
  color: var(--background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71x;
  text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
/* СТИЛИ ДЛЯ Portfolio.html */

.projects-lists .button-current {
  margin-bottom: 34px;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.projects-lists .button-current:hover,
.projects-lists .button-current:focus,
.projects-lists .button:hover,
.projects-lists .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.projects-lists .button {
  margin-bottom: 34px;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  background-color: teal;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-item {
  /* width: 370px; */
  width: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: coral;
}
.projects-cards .link {
  text-decoration: none;
}
.projects-cards .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-cards .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: ;
  border: 1px solid transparent;
}
